/* Import Statements */
/* Scss Document */
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
/* Scss Document */
/* Scss Document */
.btn-1 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #17afa0;
}

.btn-1:hover {
  background: #fff;
  color: #17afa0;
}

.btn-2 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #269b8d;
}

.btn-2:hover {
  background: #fff;
  color: #269b8d;
}

.btn-3 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #288c7d;
}

.btn-3:hover {
  background: #fff;
  color: #288c7d;
}

.btn-4 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #267a6c;
}

.btn-4:hover {
  background: #fff;
  color: #267a6c;
}

.btn-5 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #25665a;
}

.btn-5:hover {
  background: #fff;
  color: #25665a;
}

.btn-6 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #24564d;
}

.btn-6:hover {
  background: #fff;
  color: #24564d;
}
