/* Import Statements */
/* Scss Document */
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
/* Scss Document */
/* Scss Document */
.btn-1 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #2980b9;
}

.btn-1:hover {
  background: #fff;
}

.btn-2 {
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px;
  height: 400px;
  background: #e5ccff;
}

.btn-2:hover {
  background: #fff;
}
