/* Scss Document */

//Colors 
$a: #17afa0;
$b: #269b8d;
$c: #288c7d;
$d: #267a6c;
$e: #25665a;
$f: #24564d;

@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
//Font families
$helvetica: Helvetica, Arial, sans-serif;
$maven: 'Maven Pro', sans-serif;