/* Scss Document */

@mixin button($bg-color){        //⬅︎ The argument passed is in the round brackets
  color: #fff;
  font-size: 15em;
  padding-top: 15px;
  width: 400px; 
  height: 400px; 
  background: $bg-color;         //⬅︎ It gets used within the mixin here
  &:hover{
	  background: #fff;
	  color: $bg-color;
  }
}


